*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Monument Extended;
    src: url(./fonts/MonumentExtended-Ultrabold.otf);
}

body{
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    Padding-inline: 4rem;
    overflow-x: hidden;
}
.one>div img{
    width: 90%;
    height: 640px;  
}
.one{
    display: flex;
}
.one>div{
    width: 55%;
   display: flex;
   justify-content: center;
}
.one{
    gap: 3rem;
    margin-inline: -4rem;
    padding: 4rem;  
    background-color: #F5FFF3;
}
.one h1, .two header, .three header{
    font-family: Monument Extended;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}
.one p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}
.one article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
.two{
    flex-direction: column;
    gap: 2rem;
}
.two article{
    display: flex;
    gap: 1rem;
    align-items: center;
    Padding-inline: 2rem;
    padding-top: 1rem;
}
.two div{
    width: 50%;
    padding: 6rem 4rem;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 900;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 20px;
}
.two button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 15px;
    background-color: white;
    margin-top: 2rem;
  
}
#budv, #budv button{
    color: #388E3C;
    background-color: #F5FFF3;
}
#budv button{
    border-radius: 10px;
    border: 0.1px solid #388E3C;
}
#buds, #buds button{
   color: #342662 ; 
   background-color: #F5F2FF;
}
#buds button{
    border-radius: 10px;
    border: .1px solid #342662;
}
#bucs, #bucs button{
    color: #5A4C1F;
    background-color: #F9F6ED;
}
#bucs button{
    border: .1px solid #5A4C1F;
    border-radius: 10px;
}
.two header{
    width: 50%;
    padding-right: 5rem;
}
.three{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.three article{
    display: flex;
    gap: 2rem;
}
.three main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.three div{
    background-image: url(./images/bg1.png);
    padding: 2rem 2rem;
    color: white;
    border-radius: 20px;
    border: none;
}
.three div h1{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 900;
    line-height: 39px;
}
.three div p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}
.sold-out{
    color:#31B219;
    margin-top: 2rem;
}
.three header{
    font-size: 28px;
}
hr{
    width: 90px;
    height: 5px;
    background-color: #388E3C;
}
.testimonials,.team-section{
    display: flex;
    flex-direction: column;
 }       
 .team-section{
    display: flex;
    flex-direction: column;
 }
.testimonials main {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 28px;  
    width: 100%;  
}
.testimonials h1{
    font-family: 'Monument Extended', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}
.card1, .card2 {
    padding: 2rem;
    box-shadow: 0px 0px 15px #fbf2f2;
}
.card1 {
    background-color: white;
}

.card2 {
    background-color: #f7fff9;
}
.testimonial-card p {
    margin-bottom: 12px;
}
.testimonial-card h5 {
    color: #388E3C;
    padding-top: 2rem;
}

.team-section{
    display: flex;
    flex-direction: column;
    gap: 3rem;
 }      
 .team-section header {
    font-family: 'Monument Extended', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
 }
 .team-section main{
    display: flex;
    width: 100%;
    gap: 3rem;
 }
 .team-section main article{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50%;
    border-radius: 16px;
    box-shadow: 3px 3px 5px darkgray;
 }
 .team-section main article div{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    width: 48%;
 }
 .team-section main article div h5 {
    font-weight: 700;
    padding-bottom: 1rem;
 }
 .team-section main article div p:last-of-type {
    margin-bottom: 1rem;
}
 .sm-links {
    padding-top: 1rem;
 }
 .sm-links a {
    color: black;
    padding-right: 5px;
}

.sm-links a:hover {
    font-size: 20px;
    color: #388E3C;
}
.cofoundersImages{
    width: 50%;
    border-radius: 16px 0 0 16px;
}
.main2 ,.cofoundersImages{
    height: 380px;
}
.others{
    width: 60px;
    border-radius: 50%;
    position: relative;
    left: 13rem;
}
.team-section h5{
    font-size: 22px;
}
.otherTeam ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}
.team-link {
    position: relative;
    top: 3rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000000;
}
.team-link:hover {
    color: #388E3C;
    font-size: 18px;
    font-weight: 700;
}
#pic2, #pic3, #pic4 {
    margin-left: -16px;
}
#pic2 {
    opacity: 0.8;
    margin-left: -2rem;
}
#pic3 {
    opacity: 0.7;
    margin-left: -2rem;
}
#pic4 {
    opacity: 0.5;
    margin-left: -2rem;
}
.community {
    background: linear-gradient(to right, rgba(215, 247, 227, 1), rgba(215, 247, 227, 0), rgba(215, 247, 227, 1));
    padding-inline: 2rem;   
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: -3rem;
    padding: 5rem 4rem;
    margin-inline: -4rem;
}
.community header{
    width: 100%;
}
.community h1 {
    font-family: 'Monument Extended', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
}
.community-breakdown {
    display: flex;
    width: 100%;
   justify-content: space-around;
}
.community-breakdown li {
    list-style: none;
}
.community-breakdown h4 {
    font-family: 'Monument Extended', sans-serif;
    font-size: 64px;
    color: #2E7D32;
}
.community-breakdown p {
    font-family: 'Montserrat', sans-serif;
}
footer {
    margin-inline: -4rem;
    margin-top: -7rem;
    padding: 0rem 4rem;
    background-color: #000000;
}
.logo {
    width: 350px;
    height: 350px;
}
.footer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.footer-container {
    display: flex;
    
}
.footer-container p {
    padding: 0rem 2rem 2rem;
}
.footer-container a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.footer-container a:hover {
    font-size: 20px;
    font-weight: 600;
}
footer hr {
    border-style: none;
    height: 0.5px;
    background-color: rgb(162, 159, 159);
    opacity: 0.3;
    width: 100%;
}
.copyright {
    display: flex;
    justify-content: center;
}
.copyright p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    
}

@media only screen and (max-width: 760px){
    body{
        width: 100%;
        padding-inline: 1rem;
    }
    .header {
        font-size: 34px;
    }
    .three .header, .testimonials .header, .team-section .header, .community .header {
        font-size: 32px;
    }
    .one>div img{
        justify-content: center;
        max-width: 100%;
        opacity: .2;
        position: absolute;
        top: 0rem;
        left: 0rem;
        bottom: 0rem;
        right: 0rem;
        margin: auto;
    }
 
    .one article{
        width: 100%;
        gap: 2.5rem;
        justify-content: center;
    }
    .one{
        gap: 3rem;
        padding: 5rem 1rem;
        background-color: #F5FFF3;
        flex-direction: column;
        position: relative;
        margin-inline: 0;
    }
    .one h1{
        margin-top: -.7rem;
    }
    .one p, .three article p{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
    }
    .one .header:last-of-type {
        font-size: 33px;
    }
    hr{
        width: 50px;
    }
    .two{
        flex-direction: column;
    }
    .two article{
        flex-direction: column;
        Padding-inline: 1rem;
    }
    .two header, .two div{
        width: 100%;
    }
    .two header,.three header{
        font-family: Monument Extended;
        font-size: 22px;
        line-height: 1;
    }
    .two div{
        padding: 3rem 2rem;
        margin-bottom: 1rem;
    }
    #bucs{
        margin-top: -1rem;
    }
    .two div h1, .three article h1{
        font-size: 18px;
    }
    .two div button{
        font-size: 14px;
        padding: 7px 11px;
    }
    .three{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .three header h1{
        font-size: 18px;
    }
    .three article{
        flex-direction: column;
        padding-inline: 0rem;
        width: 100%;
    }
    .three hr{
        transform: translateY(-1rem);
    }
    .testimonials main{
        flex-direction: column;
    }
    .testimonials>div{
        flex-direction: column;
    }
    .testimonials{
        padding: 1rem;
    }
    .testimonials h1{
        font-size: 22px;
        line-height: 26.4px;
        margin-top: 0px;
    }
    .card1, .card2 {
        padding: 1.5rem 1rem;
        box-shadow: 0px 0px 15px #fbf2f2;
        font-size: 14px;
        line-height: 22px;
    }
    .team-section{
        padding: 0 1rem;
        margin-bottom: 13rem;
    }
    .team-section header {
        font-size: 22px;
        line-height: 1;
    }
    .team-section main{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
     }
     .team-section main article{
        display: flex;
        gap: 0.5rem;
        width: 100%;
        text-align: center;
     }
     .cofoundersImages{
        width: 50%;
    }
    .others{
        width: 60px;
        border-radius: 50%;
        position: relative;
        left: 15rem;
    }
    .otherTeam ul{
        display: flex;
        align-items: center;
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .team-link {
        position: relative;
        right: 2rem;
        top: 3.5rem;
    }
    .community{
        margin-inline: 0rem;
        margin-top: 5rem;
        padding-inline: 1rem;
    }
    .community header {
        font-size: 22px;
        line-height: 1;
    }
    .community-breakdown {
        flex-direction: column;
        gap: 2rem;
     }
     .community-breakdown li {
         width: 100%;
     }
     .community-breakdown h4 {
        font-family: 'Monument Extended', sans-serif;
        font-size: 32px;
        color: #2E7D32;
    }
    footer{
        margin-inline: 0rem;
        text-align: center;
    }
    .footer-div {
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
    }
    .footer hr{
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .logo{
        margin-top: -6rem;
        margin-bottom: -8rem;
    }
}

@media only screen and (min-width:320px) and (max-width:415px) {
    .team-section main article{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        text-align: center;
     }
     .three .header, .testimonials .header, .team-section .header, .community .header {
        font-size: 32px;
    }
     .cofoundersImages{
        width: 100%;
        border-radius: 16px 16px 0 0;
        height: 300px;
    }
    .team-section main article div{
       display: block;
       width: 100%;
       margin: 2rem;
       margin-bottom: 3rem;
    }
    .others{
        position: relative;
        left: 0;
    }
    .otherTeam ul{
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    .team-link {
        position: relative;
        top: -4rem;
        left: 0.5rem;
    }
    .community {
        margin-top: 10rem;
    }
    footer hr {
        width: 100%;
    }
}

@media only screen and (max-width:1400px){
    .community-breakdown {
        flex-direction: column;
     }
    body{
        padding-inline: 1rem;
    }
    .two header,.three header,.testimonials h1,.team-section header h1{
        font-family: Monument Extended;
        font-size: 2.5rem;
        line-height: 1;
    }
    .one h1, .two header, .three header h1{
        font-size: 2.5rem;
        margin-top: -.7rem;
        padding-top: 10px;
    }
    #logo{
        width: 470px;
        height: 470px; 
    }
    .one p, .three article p{
        font-size: 16px;
        line-height: 25px;
    }
    .two div h1, .three article h1{
        font-size: 18px;
    }
    .sold-out{
        color:#31B219;
        margin-top: 1rem;
    }
    .three{
        padding-inline: 1rem;
    }
    .three main{
        padding-inline: 1rem;
    }
    .three div{
        padding: min(1rem,1rem);
    }
    .two button{
        font-size: 14px;
    }
    .two div{
        padding: 2rem 3rem;
    }
    .community-breakdown {
        gap: 2rem;
    }
    footer hr {
        width: 100%;
    }
}

@media (max-width:1140px) and (min-width:760px){
    .three main{
        flex-direction: row;
    }
    .three article{
        flex-direction: column;
    }
    .one>div{
        justify-content: center;
        width: 100%;
        opacity: .2;
        position: absolute;
        top: 0rem;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    #logo{
        height: 400px; 
    }
    .one article{
        width: 100%;
        padding-inline: 1rem;
    }
    .one article>div{
        margin-bottom: 3rem;
    }
    .two{
        flex-direction: column;
        margin-top: 0;
    }
    .two article{
        flex-direction: column;
        Padding-inline: 1rem;
    }
    .two header, .two div{
        width: 100%;
    }
    .two header,.three header,.testimonials h1,.team-section header h1{
        font-family: Monument Extended;
        font-size: 2.5rem;
        line-height: 1;
    }
    .testimonials{
        padding-inline: 1rem;
    }
    .testimonial-card{
        flex-direction: column;
    } 
    .two div{
        padding: 3rem 2rem;
        margin-bottom: 1rem;
    }
    #bucs{
        margin-top: -1rem;
    }
    .two div h1, .three article h1{
        font-size: 18px;
    }
    .two div button{
        font-size: 14px;
        padding: 7px 11px;
    }
    .team-section{
        padding-inline: 1rem;
    }
   .team-section .main1,.team-section .main2{
    flex-direction: column;
   }
   .team-section main article div{
    margin-left: 2rem;
 }
   .team-section .main2 .otherTeam{
    justify-content: center;
   }
   .team-section .main1 article,.team-section .main2 article{
    width: 100%;
   }
   .otherTeam ul{
    display: flex;
    align-items: center;
    margin-top: 11rem;
    margin-bottom: 11rem;
    margin-left: 2rem;
}
.team-link {
    margin-left: -1.5rem;
}
   .community{
    margin-inline: 0rem;
    padding-inline: 3rem;
    width: 100%;
    margin-top: 24rem;
    }
    .community-breakdown {
        flex-direction: column;
        gap: 2rem;
    }
    .community-breakdown li {
        width: 100%;
    }
    .community-breakdown h4 {
        font-family: 'Monument Extended', sans-serif;
        font-size: 36px;
        color: #2E7D32;
    }
    footer{
        margin-inline: 0rem;
        text-align: center;
    }
    .footer-div {
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
    }
    .footer hr{
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .logo{
        margin-top: -6rem;
        margin-bottom: -8rem;
    }
}